// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font_size:12px;
.novo_projeto{
	float:right;
}

.atalho{
	font-size:$font_size;
}
